.home {
  background-color: #222;
  height: 100vh;
  span {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 200px 50px;
    cursor: pointer;
  }
}
