.header {
  .logout {
    cursor: pointer;
  }
}
.todo {
  background-color: black;
  p {
    color: white;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: -40px;
  }
  div {
    display: flex;
    .todo-list,
    .todo-content {
      border: 1px solid white;
      padding: 20px;
      flex: 1;
      margin: 100px 15px;
      border-radius: 10px;
      padding: 40px 0;
    }
    .todo-content {
      .content-box {
        margin-left: 50px;
        p {
          color: white;
        }
      }
    }
    .todo-list {
      flex: 1;
      display: flex;
      flex-direction: column;
      .create-todo {
        margin: 0 100px;
        height: 50px;
        cursor: pointer;
        margin-bottom: 20px;
        display: flex;
        .plus-todo {
          flex: 4;
          border-radius: 10px 0 0 10px;
          border: none;
          padding-left: 30px;
          font-size: 24px;
        }
        button {
          flex: 1;
          border-radius: 0 10px 10px 0;
          border: none;
          cursor: pointer;
          background-color: #4D47C3;
          font-size: 21px;
          color: white;
          font-weight: bold;
        }
      }
      .todoitems {
        display: flex;
        flex-direction: column;
        .todoitem {
          background-color: rgba(93, 90, 90, 0.649);
          margin: 7px 50px;
          padding: 20px;
          border-radius: 10px;
          cursor: pointer;
          span {
            color: white;
            padding-left: 40px;
          }
        }
      }
    }
  }
}
